#### Nama = Dela Rista Damayanti

# SESI PAGI

### Started Python

In [1]:
print("Hello World")
#as usual with any language wee start with the print function
#print digunakan untuk mencetak dalam layar

Hello World

### String

In [3]:
#string word
print('hello')

print() 
#used to have a line space between two sentences
#digunakan untuk memberikan spasi antar baris

print('Ini juga termasuk dalam string')

hello

Ini juga termasuk dalam string

### Variable

In [6]:
s = "Amsterdam"
print(s)
print(type(s))
print(len(s))

Amsterdam
<class 'str'>
9

### String Indexing

In [9]:
#Assign  s as a string
s = 'Ohayo Gozaimasu'

#print the object
print(s)
print()
print(s[0])
print()
print(s[6])

Ohayo Gozaimasu

O

G

### String Concatenation and Repetition

In [12]:
#concatenation (addition)
s1='Dela'
s2="Rista"
print(s1 + " " + s2 + ", Selamat Pagi!!")

Dela Rista, Selamat Pagi!!

In [13]:
#repetition (multiplication)
print("Hello_" * 5)
print("+" * 10)

Hello_Hello_Hello_Hello_Hello_
++++++++++

### String Slicing & Indexing

In [17]:
s = "Namaste World"

#print sub strings
print(s[1])
print(s[6:11])
print(s[-5:-1])

#test substring membership 
print("Wor" in s)
print("oke" in s)

a
e Wor
Worl
True
False

In [15]:
#slicing syntax_2 : variabel_name[start : end : step] -> slice
print(s[6:11:2]) #ambil dua karakter

eWr

### Basic Built-in String methods

In [18]:
s = "Hello World"

print(s.upper())
print(s.lower())

HELLO WORLD
hello world

In [19]:
print(s[:5].upper() + s[5:].lower())

HELLO world

### Print Formatting

In [30]:
name = "Dela Rista"
age = 21
married = False

In [26]:
#cara 1
print("My name is ", name, " My age is ", age, " I am Married ", married)

My name is  Dela Rista  My age is  21  I am Married  False

In [27]:
#cara 2
print("My name is %s, my age is %s, %s I am Married" % (name, age, married))

My name is Dela Rista, my age is 21, False I am Married

In [28]:
#cara 3
print("My name is {}, my age is {}, and it is {} I am Married". format(name, age, married))

My name is Dela Rista, my age is 21, and it is False I am Married

### Numbers

#### Basic Arithmetic

In [31]:
#Addition
print(2+1)

3

In [32]:
#Subtraction
print(4-2)

2

In [34]:
#Multiplication
print(3*3)

9

In [39]:
#Division
print(3/2)

1.5

#### Arithmetic continued

In [41]:
#Power
2**4

16

In [43]:
#Order of operatios followed in python
2 + 10 * 10 + 3

105

In [44]:
#Can use parenthesis to specify orders
(2+10) * (10+3)

156

#### Variable Assignments

In [47]:
a = 7
a+a

14

In [48]:
a = 10
a

10

# SESI SIANG

### Identifiying Data Types

In [52]:
a = 42
b = 32.30
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

### List

In [60]:
#Assign a list to an variable named my_list
my_list = [1,2,3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

In [61]:
my_list2 = ['A String', 233, 100.23, '0']
print(my_list2)

['A String', 233, 100.23, '0']

In [62]:
len(my_list)

6

In [63]:
len(my_list2)

4

#### Adding New Element to a list

###### Append

In [106]:
my_list = ['one', 'two', 'three', 4, 5]

#append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [102]:
#extend a list with another list
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

##### Insert

In [107]:
my_list.insert(3, 'four')
my_list

['one', 'two', 'three', 'four', 4, 5]

##### Slicing

In [4]:
lst = list(range(10))
print(lst)
print()
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])
print()
print("every third elements, starting at index 1:", lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]

every third elements, starting at index 1: [1, 4, 7]

### Dictionaries

In [108]:
# make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1', 'key2':'value2'}

#call values by their key
my_dict['key2']

'value2'

In [120]:
my_dict['key1'] = 1234
my_dict

{'key1': 1234, 'key2': 'value2'}

In [121]:
#substract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

#check
my_dict['key1']

1111

In [122]:
# set the object equal to itself minus 123
my_dict['key1'] -= 1234
my_dict['key1']

-123

In [123]:
# create a new dictionary
d = {}

# create a new key througj assignment
d['animal'] = "Bear"

In [124]:
d['animal']

'Bear'

### Set and Booleans

#### Set

In [126]:
x = set()

# we add to sets with the add() method
x.add(1)

#show
print(x)

{1}

In [127]:
x.add(2)
x

{1, 2}

In [129]:
x.add(1)
x

{1, 2}

In [130]:
#create a list with repeats
l = [1, 1, 2, 3, 3, 4, 4, 5, 5, 5, 1, 2]
set(l)

{1, 2, 3, 4, 5}