#### Nama = Dela Rista Damayanti

### Identifiying Data Types

In [2]:
a = 42
b = 32.30
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [3]:
#Assign a list to an variable named my_list
my_list = [1,2,3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

In [4]:
my_list2 = ['A String', 233, 100.23, '0']
print(my_list2)

['A String', 233, 100.23, '0']

In [5]:
len(my_list)

6

In [6]:
len(my_list2)

4

#### Adding New Element to a list

###### Append

In [7]:
my_list = ['one', 'two', 'three', 4, 5]

#append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [8]:
#extend a list with another list
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

##### Insert

In [9]:
my_list.insert(3, 'four')
my_list

['one', 'two', 'three', 'four', 4, 5]

##### Slicing

In [10]:
lst = list(range(10))
print(lst)
print()
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])
print()
print("every third elements, starting at index 1:", lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]

every third elements, starting at index 1: [1, 4, 7]

### Dictionaries

In [11]:
# make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1', 'key2':'value2'}

#call values by their key
my_dict['key2']

'value2'

In [12]:
my_dict['key1'] = 1234
my_dict

{'key1': 1234, 'key2': 'value2'}

In [13]:
#substract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

#check
my_dict['key1']

1111

In [14]:
# set the object equal to itself minus 123
my_dict['key1'] -= 1234
my_dict['key1']

-123

In [15]:
# create a new dictionary
d = {}

# create a new key througj assignment
d['animal'] = "Bear"

In [16]:
d['animal']

'Bear'

### Set and Booleans

#### Set

In [17]:
x = set()

# we add to sets with the add() method
x.add(1)

#show
print(x)

{1}

In [18]:
x.add(2)
x

{1, 2}

In [19]:
x.add(1)
x

{1, 2}

In [20]:
#create a list with repeats
l = [1, 1, 2, 3, 3, 4, 4, 5, 5, 5, 1, 2]
set(l)

{1, 2, 3, 4, 5}